html {
    background-color: silver;
}

li {
    background-color: thistle;
}


h1 {
    background-color: teal;
    color: yellow;
}

h2 {
    background-color: wheat;
}

.container {
    width: 200px;
    height: 120px;
    align-items: center;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}