html {
    background-color: silver;
}

li {
    background-color: thistle;
}


h1 {
    background-color: teal;
    color: yellow;
    text-align: center;
}

h2 {
    background-color: wheat;
    text-align: center;
   
}

.introduction {
    color:red;
}

.buttons {
    background-color:darkgreen;
}

button {
    color:darkkhaki;
    font-size:18px;
    font-weight:bold;
}
.container {
    width: 200px;
    height: 120px;
    align-items: center;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}

.buttons {
    display:flex;
    justify-content: center;
    gap: 10%;
    padding:10px;
}